body {
    background-color: #293132;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFF;
}

#title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 35pt;
}

#description {
    text-align: center;
    font-size: 17pt;
    margin-left: 50px;
    margin-right: 50px;
}

ul {
    display: inline-block;
    text-align: left;
    list-style-type: none;
}

.desc-2 {
    padding-top: 20px;
}

.desc-3 {
    list-style-position: inside;
    padding-left: 0;
    margin-top: 0;
}

#image {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

#earthImg {
    font-size: 200pt;
    color: green;
    transition: color 0.3s ease-in-out;

}

#earthImg:hover {
    color: white;
}

#moonImg {
    font-size: 50pt;
    color: yellow;
    transition: color 0.3s ease-in-out;
}

#moonImg:hover {
    color: white;
}

a {
    text-decoration: none;
}