body {
    background-color: grey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
    font-size: 35pt;
}

#description {
    text-align: center;
    font-size: 15pt;
}

.desc-3 {
    list-style-position: inside;
    padding-left: 0;
}

#image {
    text-align: center;
    padding-top: 50px;
}

#earthImg {
    font-size: 150pt;
}

#moonImg {
    font-size: 50pt;
}